body {
  background-color: black;
}
.box {
  background-color: rosybrown;
  width: px;
  height: ;
}
.glass {
  background-color: blue;
  width: 1200px;
  height: 1100px;
  position: relative;
  left: 250px;
}
img {
  width: 100%;
  height: 100%;
}

.blur {
  width: 300px;
  height: 300px;
  background-color: rgba(37, 30, 33, 0.64);
  opacity: ;
  border-radius: 10px;
}
h1 {
  color: white;
  margin-left: 40px;
}
p {
  margin-left: 30px;
  color: white;
}
